<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="container">
            <canvas id="visualizer" ></canvas>

        <form id="settings">
            <fieldset>
                <legend>Settings</legend>
                <label for="settings--ant-count">Number of Ants</label>
                <input type="number" name="ant-count" value="20" id="settings--ant-count">
                <label for="settings--brood-size">Brood Size</label>
                <input type="number" name="brood-size" value="200" id="settings--brood-size">
                <label for="settings--dimension">Dimensions</label>
                <input type="text" name="dimension" value="80x49" pattern="[0-9]{1,3}x[0-9]{1,3}" id="settings--dimension">

                <button id="settings--start" type="submit">Start</button>
                <button id="settings--pause" type="button" disabled>Pause</button>
            </fieldset>
        </form>
    </div>

</body>

</html>