@import '~normalize.css/normalize';
html,
body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	canvas {
		image-rendering: -moz-crisp-edges; /* Firefox */
		image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
		image-rendering: pixelated; /* Chrome */
	}

	form {
		width: 21.88rem;
		margin: 0 auto;
		label {
			width: 33%;
			display: inline-block;
		}
		input {
			width: 66%;
			box-sizing: border-box;
			margin: 5px 0;
		}
	}
}
